* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'against';
    src: url(fonts/against\ regular.ttf);
}

@font-face {
    font-family: 'Gara';
    src: url(fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: 'gara-medium';
    src: url(fonts/EBGaramond-Medium.ttf);
}

@font-face {
    font-family: 'jp';
    src: url(fonts/NotoSerifJP-Regular.otf);
}

.jp {
    font-family: 'jp';
    font-weight: bold;
}

.gara-medium {
    font-family: 'gara-medium';
}

.against {
    font-family: 'Against';
}

.gara {
    font-family: 'Gara';
}

header {
    background-image: url(img/vista-da-interno.jpg);
    background-position: top center;
    height: 50vh;
}

nav {
    background-color: rgba(0, 0, 0, 0.16);
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    position: relative;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
}

nav ul li ul {
    display: none;
    position: absolute;

}

nav ul li:hover ul {
    display: block;
}

nav ul li:hover{
    border-bottom: 3px solid orange;
}

nav ul li:hover ul li{
    background-color: rgba(0, 0, 0, 0.26);
}

/*BURGER*/
nav label , #hamburger {
    display: none;
}

.center {
    text-align: center;
}

h1.center.against{
    margin: 40px;
    /* color: rgb(109, 36, 128) ; */
    color: #4C2B8F;
}

main {
    margin: 0 auto;
    width: 70vw;
} 

.camera {
    width: 1100px;
    height: 300px;
    background-color: rgb(255, 219, 142);
     /* #F7CA8F; */
    border: 3px solid #4C2B8F;
     /* rgba(200, 102, 225, 0.7) ; */
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camere section {
    width: 100%;
}

.camera figure {
    width: 400px;
    height: 250px;
    overflow: hidden;
    padding: 10px;
    margin-left: 20px;
}

.camera article {
    width: 600px;
    height: 200px;
    padding: 30px;
}

.camera article h2 {
    color: #6b5792;
    font-size: 26px;
}

.camera article p {
    width: 500px;
    font-size: 20px;
    padding: 20px 0;
}

.servizi {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.servizi figure {
    padding: 20px;
}


form {
    width: 70vw;
    margin: 0 auto;
    background-color: #DB9447;
    border: 3px solid rgb(237, 172, 88);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scelta label , input {
    display: block;
}

.scelta label {
    font-family: 'Gara';
}

#privacy { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .etichette , .scelte {
    
}

.etichette label {
    padding: 4px;
} */


.extra {
    clear: both;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.extra figure {
    width: 310px;
    height: 210px;
    overflow: hidden;
}

.extra article {
    width: 310px;
}

.extra article h2 {
    color:rgb(78, 24, 92);
    font-size: 22px;
    padding:8px
}

.info {
    background-color: rgb(255, 219, 142);
    padding: 20px;
}

.info span {
    text-transform: uppercase;
    font-size: 22px;
} 

.recapiti {
    display: flex;
    justify-content: space-around;
    background-color: rgba(54, 23, 62, 0.864) ;
    color: antiquewhite;
}

.dove-siamo {
    display: flex;
    justify-content: space-around;
    padding: 20px;;
}

.dove-siamo p {
    width: 200px;
    padding: 20px;

}

.contatti {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contatti p a {
    color: antiquewhite;
    text-transform: none;
}

.copy {
    background-color: rgba(44, 17, 50, 0.97) ;
    display: flex;
    justify-content: space-around;
    color:antiquewhite;
    padding: 10px;
}

@import url(mediaquery.css);