* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(img/vista-da-interno.jpg);
    background-position: top center;
    height: 50vh;
}

nav {
    background-color: rgba(0, 0, 0, 0.16);
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    position: relative;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
}

nav ul li ul {
    display: none;

}

nav ul li:hover ul {
    display: block;
}

nav ul li:hover{
    border-bottom: 3px solid orange;
}

.hero {
    width: 300px;
    height: 100px;
    margin: 50px auto;
}

.center {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 70vw;
} 

.camera {
    width: 1100px;
    height: 300px;
    background-color: rgba(211, 179, 114, 0.405);
    border: 2px solid rgba(200, 102, 225, 0.7) ;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera figure {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.camera article {
    width: 600px;
    height: 200px;
    padding: 30px;
}

.servizi {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.servizi figure {
    padding: 20px;
}

.form {
    width: 40vw;
    margin: 0 auto;
}


.extra {
    clear: both;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.extra figure {
    width: 300px;
    height: 210px;
    overflow: hidden;
}

.extra article {
    width: 300px;
    border: 2px solid;
}

.info {
    background-color: rgb(255, 219, 142);
    padding: 20px;
}

.info span {
    text-transform: uppercase;
    font-size: 22px;
} 

.recapiti {
    display: flex;
    justify-content: space-around;
    background-color: rgba(54, 23, 62, 0.864) ;
    color: antiquewhite;
}

.dove-siamo {
    display: flex;
    justify-content: space-around;
    padding: 20px;;
}

.dove-siamo p {
    width: 200px;
    padding: 20px;

}

.contatti {
    display: flex;
    justify-content: space-around;
}

.contatti p a {
    color: antiquewhite;
    text-transform: none;
}

.copy {
    background-color: rgba(44, 17, 50, 0.97) ;
    display: flex;
    justify-content: space-around;
    color:antiquewhite;
    padding: 10px;
}